<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div align="center">
<h1>管理员界面</h1>
<form action="modify_personal_information" method="get">
<input type="submit" value="修改个人信息"><br>
</form>
<form action="user_management" method="get">
<input type="submit" value="用户管理"><br>
</form>
<form action="food_management" method="get">
<input type="submit" value="菜单管理"><br>
</form>
<form action="order_management" method="get">
<input type="submit" value="订单管理"><br>
</form>
</div>
</body>
</html>