<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="index.css">
</head>

<div class="login" align="center">
    <h2 align="center">欢迎使用咖啡厅点餐系统！</h2>
    <form action="/login" method="GET">
        <div align="center">
        <!--提示信息-->
        <p style="color: red" th:text="${msg3}" th:if="${not #strings.isEmpty(msg3)}"></p>
        <p style="color: red" th:text="${msg4}" th:if="${not #strings.isEmpty(msg4)}"></p>
        <p style="color: red" th:text="${msg5}" th:if="${not #strings.isEmpty(msg5)}"></p>
            <input type="text" name="userID" placeholder="用户名"><br>
            <input type="text" name="password" placeholder="密码"><br>
        <input type="submit" value="登陆"><br>
        </div>
    </form>
    <form action="/add" method="GET">
    <input type="submit" value="注册">
    </form>
</div>
</body>
</html>