<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<script>
    function tvClick() {
        var x = document.getElementById("tv").value;
        window.location.href = "searchFood?type=" + x;
    }
</script>
<h2>> 菜单管理</h2>
<div th:width="300px" th:height="50px">
    请输入查询条件：<br><br>
    <input th:width="300px" th:height="50px" id="tv" placeholder="请输入餐点类型" th:value="${keyValue}">
    <button id="btn" onclick="tvClick()">查询</button>
</div>
<body>
<table border="1" width="950">
    <thead>
    <caption style="font-size: 30px; font-family: Arial, Helvetica, sans-serif;">菜单信息显示</caption>
    <tr>
        <td>餐点名称</td>
        <td>餐点类型</td>
        <td>库存</td>
        <td>价格</td>
        <td>操作</td>
    </tr>
    </thead>
    <tr th:each="item,eee: ${foods}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.amount}"></td>
        <td th:text="${item.price}"></td>
        <td><a th:href="@{/deleteFood(food_name=${item.name})}" }><input type="submit" value="删除"><br></a></td>
    </tr>
</table>
<br>
<form action="/addFood" method="GET">
    <div>
        <input type="text" name="food_name" placeholder="请输入要增加的餐点名称">
        <input type="text" name="food_type" placeholder="请设置餐点类型">
        <input type="text" name="food_amount" placeholder="请输入库存数量">
        <input type="text" name="food_price" placeholder="请输入餐点价格">
        <input type="submit" value="增加">
    </div>
</form>
<br>
<form action="/changeFood" method="GET">
    <div>
        <input type="text" name="food_name" placeholder="请输入要修改的餐点名称">
        <input type="text" name="food_type" placeholder="请修改后餐点类型">
        <input type="text" name="food_amount" placeholder="请输入修改后库存数量">
        <input type="text" name="food_price" placeholder="请输入修改后餐点价格">
        <input type="submit" value="修改"><br>
    </div>
</form>
</body>
</html>
</html>
