<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<script>
    function tvClick1() {
        var x = document.getElementById("tv1").value;
        window.location.href = "searchOrderByOrderID?orderID=" + x;
    }
    function tvClick2() {
        var x = document.getElementById("tv2").value;
        window.location.href = "searchOrderByUserID?userID=" + x;
    }
</script>
<h2>> 订单管理</h2>
<div th:width="300px" th:height="50px">
    请输入查询条件：<br><br>
    <input th:width="300px" th:height="50px" id="tv1" placeholder="请输入订单编号" th:value="${keyValue1}">
    <button id="btn1" onclick="tvClick1()">查询</button>
    <input th:width="300px" th:height="50px" id="tv2" placeholder="请输入用户名" th:value="${keyValue2}">
    <button id="btn2" onclick="tvClick2()">查询</button>
</div>
<body>
<table border="1" width="950">
    <thead>
    <caption style="font-size: 30px; font-family: Arial, Helvetica, sans-serif;">订单信息显示</caption>
    <tr>
        <td>订单编号</td>
        <td>用户名</td>
        <td>餐点名称</td>
        <td>餐点单价</td>
        <td>餐点数量</td>
        <td>总价</td>
        <td>时间</td>
    </tr>
    </thead>
    <tr th:each="item,eee: ${orders}">
        <td th:text="${item.order_id}"></td>
        <td th:text="${item.user_id}"></td>
        <td th:text="${item.food_name}"></td>
        <td th:text="${item.food_price}"></td>
        <td th:text="${item.food_amount}"></td>
        <td th:text="${item.total_price}"></td>
        <td th:text="${item.create_time.toString().substring(0,item.create_time.toString().length()-2)}"></td>
    </tr>
</table>
<br>
</body>
</html>
</html>
