<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.bxbz.caffee.mapper.SoldMapper">
    <resultMap id="BaseResultMap" type="team.bxbz.caffee.entity.Sold">
        <result column="food_name" property="food_name" jdbcType="VARCHAR"/>
        <result column="sold_amount" property="sold_amount" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insert" parameterType="team.bxbz.caffee.entity.Sold">
      insert into sold (food_name,sold_amount)
      values (#{food_name,jdbcType=VARCHAR},#{sold_amount,jdbcType=INTEGER})
    </insert>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from sold
    </select>
    <select id="selectByFoodName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from sold where food_name = #{food_name,jdbcType=VARCHAR}
    </select>
    <update id="updateByFoodName" parameterType="team.bxbz.caffee.entity.Sold">
    update sold
    set food_name = #{food_name,jdbcType=VARCHAR},
        sold_amount=#{sold_amount,jdbcType=INTEGER}
    where food_name = #{food_name,jdbcType=VARCHAR}
  </update>
</mapper>