<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table border="1" width="1000">
    <thead>
    <tr>
        <td>餐点名称</td>
        <td>餐点类型</td>
        <td>库存</td>
        <td>价格</td>
    </tr>
    </thead>
    <tr th:each="item,eee: ${foods}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.amount}"></td>
        <td th:text="${item.price}"></td>
    </tr>
</table>
<form action="/deleteFood" method="GET">
    <div>
        <br>
        删除：<br>
        <input type="text" name="food_name" placeholder="请输入要删除的餐点名称"><br>
        <input type="submit" value="删除"><br><br>
    </div>
</form>
<form action="/addFood" method="GET">
    <div>
        增加：<br>
        <input type="text" name="food_name" placeholder="请输入要增加的餐点名称"><br>
        <input type="text" name="food_type" placeholder="请设置餐点类型"><br>
        <input type="text" name="food_amount" placeholder="请输入库存数量"><br>
        <input type="text" name="food_price" placeholder="请输入餐点价格"><br>
        <input type="submit" value="增加"><br>
    </div>
</form>
<form action="/changeFood" method="GET">
    <div>
        <br>修改：<br>
        <input type="text" name="food_name" placeholder="请输入要修改的餐点名称"><br>
        <input type="text" name="food_type" placeholder="请修改后餐点类型"><br>
        <input type="text" name="food_amount" placeholder="请输入修改后库存数量"><br>
        <input type="text" name="food_price" placeholder="请输入修改后餐点价格"><br>
        <input type="submit" value="修改"><br>
    </div>
</form>
</body>
</html>
</html>
